<%= title t('.title'), t('.subtitle') %>

<h2 id="examples"><%= t('.examples') %></h2>
<p><%= t('.description_html') %></p>

<%= render_example_description('basic_usage') %>
<%= render_example partial: 'basic_usage' %>

<%= render_example_description('styles') %>
<%= render_example partial: 'styles' %>

<%= render_example_description('block_passing') %>
<%= render_example partial: 'block_passing' %>

<%= render_example_description('dismissible') %>
<%= render_example partial: 'dismissible' %>

<%= content_for :toc do %>
  <%= toc_entry(:examples) do %>
    <%= toc_entry(:basic_usage) %>
    <%= toc_entry(:styles) %>
    <%= toc_entry(:block_passing) %>
    <%= toc_entry(:dismissible) %>
  <% end %>
<% end %>
